<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/website-template.css') }}">
    <meta charset="UTF-8">
    <title>Alex Hopper</title>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('resume') }}">Resume</a>
        <div class="dropdown">
            <button class="dropbtn">Projects
                <i class="caret-down">&#9660</i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('website') }}">Website</a>
                <a href="#">Placeholder</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <a href="https://github.com/ZweiAlex">Github</a>
        <div class="right">
            <a href="{{ url_for('resume') }}">Contact Me</a>
        </div>
    </div>
    <div class="main">
        <h4>Hello!</h4>
        <p>This is a website I have made from scratch. I am using this as a way to practice coding as well show off
        the things I have been working on. I will try to upload all the files of this website and any projects I am
        working on to GitHub. I would also like to note that I am not a graphic designer. I more focused on the
        technical parts instead of the visual aspect, so I apologize if it doesn't look good.</p>
    </div>
    <div class="footer">
        <footer>
            <p> Current time: {{ date_time }}</p>
        </footer>
    </div>
</body>
</html>